name: .NET

on:
  release:
    types: [published]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        if: success()
        run: dotnet build --no-restore
      - name: Unit Test
        if: success()
        run: dotnet test --no-build --verbosity normal
  pack:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - shell: pwsh
        if: ${{ github.event_name == 'release' }}
        working-directory: build
        env:
          NUGET_KEY: ${{ secrets.NUGET_KEY }}
          NUGET_SERVER: ${{ secrets.NUGET_SERVER }}
        run: |
          ./pack.ps1
